.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0.5rem; /* diminui o padding vertical (de 1.5rem pra 0.8rem) */
    background: #5e5c5c;
    color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    box-sizing: border-box; /* garante que o padding não aumente o tamanho total */
}

.logo a {
    color: #fff;
    font-size: 1.6rem; /* pode diminuir um pouco se quiser */
    font-weight: bold;
}

/* continua o restante igual */
.menu-icon {
    display: none;
    cursor: pointer;
}

.nav-links .nav-link.active {
    display: flex;
    gap: 2rem;
    color: #00e676;
    font-weight: bold;
    border-bottom: 2px solid #00e676;
}

.nav-links li a {
    color: #fff;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #00ffff;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: -100%;
        background-color: #504f4f;
        flex-direction: column;
        width: 200px;
        padding: 2rem;
        gap: 1.5rem;
        transition: right 0.3s ease;
    }

    .nav-links.active {
        right: 0;
    }
}
